{
  // "plugins": [
  //   [
  //     "module-resolver",
  //     {
  //       "alias": {
  //         "Components": "./client/src/components/"
  //       }
  //     }
  //   ]
  // ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
